<top-nav-logout></top-nav-logout>
<div class="container login-form">
    <div class="col-md-12">
        <div class="col-md-7">
            <ol>
                <li>This Application is developed in Angualr JS, HTML5 and CSS3/SCSS.</li>
                <li>Application is developed to manage personal contacts.</li>
                <li>There is no back end server or database involved in the App.</li>
                <li>This Application is hosted on cloud server.</li>
                <li>There are many possible validations & scenerios, which are not covered yet.</li>
                <li>Credentials to login : Username - anil & Password - India@123 </li>
                <li>Thanks for visiting the app. Have a nice day!! </li>
            </ol>
        </div>
        <div class="col-md-5">
            <div class="component login-box">
                <div class="login-fields">
                    <div class="login-heading">User Login</div>
                    <div class="col-md-5">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Username" ng-model="$ctrl.login.username">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" placeholder="Password" ng-model="$ctrl.login.password">
                        </div>
                        <div class="form-group" ng-if="$ctrl.loginStatus">
                            <div class="login-error-message">{{$ctrl.loginErrorMessage}}</div>
                        </div>
                        <div class="form-group" style="float: right;">
                            <button class="btn btn-primary" ng-click="$ctrl.login($ctrl.login)">login</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>