<top-nav-logout></top-nav-logout>

<div>
    <div class="col-sm-8">
        <div class="login-pointers">

            <ol>
                <li>This application is developed to demonstrate the learnings during Metasys Training.</li>
                <li>Application is developed using Angular JS, HTML5, CSS3/SCSS with REST API services.</li>
                <li>Functionality includes contact view/addition with live weather forecast.</li>
                <li>There is no back-end server or database involved in the app.</li>
                <li>There are many possible validations & scenarios, which are not coveed.</li>
                <li>This Application is hosted on cloud server.</li>
                <li>Credentials to login : Username - anil & Password - India@123 </li>
                <li>Your feedback or suggestions are welcome.</li>
                <li>Thanks for visiting the app. Have a nice day!! &#128522; </li>
            </ol>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="login-form">
            <div class="login-heading">user login</div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Username" ng-model="$ctrl.login.username">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Password" ng-model="$ctrl.login.password">
            </div>
            <div class="form-group" ng-if="$ctrl.loginStatus">
                <div class="login-error-message">{{$ctrl.loginErrorMessage}}</div>
            </div>
            <div class="form-group" style="float: right;">
                <button class="btn btn-primary" ng-click="$ctrl.login($ctrl.login)">login</button>
            </div>
        </div>
    </div>
</div>