<top-nav-login></top-nav-login>

<div class="row">
    <div class="col-sm-3">
        <side-nav></side-nav>
    </div>
    <div class="col-sm-9">
        <table class="contacts-table">
            <thead>
                <th ng-click="$ctrl.orderByValue('name')" style="cursor: pointer;">Name <i class="fa fa-sort"></i></th>
                <th ng-click="$ctrl.orderByValue('company')" style="cursor: pointer;">Company <i class="fa fa-sort"></i></th>
                <th ng-click="$ctrl.orderByValue('email')" style="cursor: pointer;">Email <i class="fa fa-sort"></i></th>
                <th>Contact</th>
                <th>Action</th>
            </thead>
            <tbody>
                <tr ng-repeat="user in $ctrl.users | orderBy: $ctrl.orderBySelectedValue">
                    <td>{{user.name}}</td>
                    <td>{{user.company}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.mobile}}</td>
                    <td><i class="fa fa-edit edit-user" ng-click="$ctrl.editUser(user)"></i>
                        <i class="fa fa-trash edit-user" ng-click="$ctrl.editUser(user)"></i>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<footer-component></footer-component>
